<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-12">
                <div class="card-header">
                    Scatter Chart
                </div>
                <div #chartarea id="scatter-plot"  class="chart-container clearfix">
                        <svg width="960" height="500"></svg>
                </div>
                
            </div>
        </div>
    </div>
</div>
