.card-header{
    background-color: #E5EBEE;
}

.selectbox{
    margin-top:-5px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    .mat-header-row{
        border-color:rgba(0, 0, 0, 0.125);
    }
    .mat-row{
        border-color: #eceeef;
    }

    .cdk-column-customer_id {
        flex: 0 0 10%;
    }
    .cdk-column-customer_name {
        flex: 0 0 40%;
    }
    .cdk-column-zipcode {
        flex: 0 0 25%;
    }
    .cdk-column-avg_proability {
        flex: 0 0 25%;
    }
}
