<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
    <div class="row">
        <div class="col-md-2">
            <form role="form">
                <fieldset class="form-group">
                    <label>Search Products:</label>
                    <!-- <input class="form-control">
                    <button type="button" class="btn btn-lg btn-primary">Submit</button> -->
                </fieldset>
            </form>
        </div>
        <div class="col-md-3">
            <form role="form">
                <fieldset class="form-group">
                    <!-- <label>Text Input</label> -->
                    <select #selProdcutDd (change)="onProductSelect(selProdcutDd.value)" class="selectbox form-control">
                        <option *ngFor="let item of listProduct" [value]="item.id">{{item.name}}</option>
                        <!-- <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option> -->
                    </select>
                    <!-- <button type="button" class="btn btn-lg btn-primary">Submit</button> -->
                </fieldset>
            </form>
        </div>
        <div class="col-md-7"></div>
        <!-- <div class="col-md-10">
            <form role="form">
                <fieldset class="form-group"> -->
                    <!-- <label>Text Input</label> -->
                    <!-- <input class="form-control"> -->
                    <!-- <button type="button" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    Customer Details
                </div>
                <div class="card-block table-responsive">
                        <mat-table #table [dataSource]="dataSource">
                                
                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="customer_id">
                                      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                      <mat-cell *matCellDef="let element"> 
                                            <a [routerLink]="['/charts',element.customer_id]">{{element.customer_id}}</a>
                                        </mat-cell>
                                    </ng-container>
                                
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="customer_name">
                                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                      <mat-cell *matCellDef="let element"> {{element.customer_name}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="zipcode">
                                      <mat-header-cell *matHeaderCellDef> Zipcode </mat-header-cell>
                                      <mat-cell *matCellDef="let element"> {{element.zipcode}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Color Column -->
                                    <ng-container matColumnDef="avg_proability">
                                      <mat-header-cell *matHeaderCellDef> Avg. Proability </mat-header-cell>
                                      <mat-cell *matCellDef="let element"> {{element.avg_proability}} </mat-cell>
                                    </ng-container>
                                
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                  </mat-table>
                    <!-- <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Zipcode</th>
                            <th>Avg. Prability</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr scope="row" *ngFor="let item of listCustomer" >
                                    <th scope="row"><a [routerLink]="['/charts',item.customer_id]">{{item.customer_id}}</a></th>
                                    <td>{{item.customer_name}}</td>
                                    <td>{{item.zipcode}}</td>
                                    <td>{{item.avg_proability}}</td>
                            </tr>
                       
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div> -->
    <!-- <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr /> -->
    <!-- <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div> -->
                <!-- /.card-header -->
                <!-- <app-timeline></app-timeline> -->
                <!-- /.card-body -->
            <!-- </div> -->
            <!-- /.card -->
        <!-- </div> -->
        <!-- /.col-lg-8 -->
        <!-- <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div> -->
                <!-- /.card-header -->
                <!-- <app-notification></app-notification> -->
                <!-- /.card-body -->
            <!-- </div> -->
            <!-- /.card -->

            <!-- <app-chat></app-chat> -->
            <!-- /.card .chat-card -->
        <!-- </div> -->
        <!-- /.col-lg-4 -->
    <!-- </div> -->
</div>
