.card-header{
    background-color: #E5EBEE;
}

.selectbox{
    margin-top:-5px;
}


$colslist: Cluster id Name Age AvgBal Score Status Hashouse Sex Dependents AvgPayin AvgExp Fashion Travel Health Entertainment Food Electronic Sports Grossary;
$cols-width: 100px 80px 150px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px 150px 100px 100px;
$cols-index: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18;
// [
//     "Cluster",
//     "id",
//     "Name",
//     "Age",
//     "AvgBal",
//     "Score",
//     "Status",
//     "Hashouse",
//     "Sex",
//     "Dependents",
//     "AvgPayin",
//     "AvgExp",
//     "Fashion",
//     "Travel",
//     "Health",
//     "Entertainment",
//     "Food",
//     "Electronic",
//     "Sports",
//     "Grossary"
//     ];


.mat-table {
    // overflow: scroll;
    max-height: 680px;
    $table_width:0px;
    @for $i from 1 through length($cols-index){
        // @debug $i;
        $cw: nth($cols-width, $i);
        $cellid: nth($colslist, $i);
        $table_width:$table_width+$cw;
        .mat-header-row{
            border-color:rgba(0, 0, 0, 0.473);
            // @debug #{$cellid};
            .cdk-column-#{$cellid}{
                min-width: $cw;
                max-width: $cw;
            }
        }
        // @debug $cellid;
        // .mat-column-#{$cellid} {
        //     min-width: $cw;
        // }
        .mat-row{
            border-color: #eceeef;
            .cdk-column-#{$cellid}{
                min-width: $cw;
                max-width: $cw;
            }
        }
    }
    @debug $table_width;
    width:$table_width+100px;
    .mat-row{
        .mat-cell{
            
        }
        .mat-column-Name{
            word-break:break-all;
            word-wrap: normal;
        }
    }
}


.export-ico{
    cursor: pointer;
    color: #292b2c;
    position: absolute;
    right: 20px;
}