.card-header{
    background-color: #E5EBEE;
}

.selectbox{
    margin-top:-5px;
}


$colslist: id Name Type SubType ;
$cols-width: 80px 300px 300px 150px;
$cols-index: 0 1 2 3;
.mat-table {
    overflow: scroll;
    max-height: 680px;
    $table_width:0px;
    @for $i from 1 through length($cols-index){
        // @debug $i;
        $cw: nth($cols-width, $i);
        $cellid: nth($colslist, $i);
        $table_width:$table_width+$cw;
        .mat-header-row{
            border-color:rgba(0, 0, 0, 0.125);
            // @debug #{$cellid};
            .cdk-column-#{$cellid}{
                min-width: $cw;
                max-width: $cw;
            }
        }
        // @debug $cellid;
        // .mat-column-#{$cellid} {
        //     min-width: $cw;
        // }
        .mat-row{
            border-color: #eceeef;
            .cdk-column-#{$cellid}{
                min-width: $cw;
                max-width: $cw;
            }
        }
    }
    @debug $table_width;
    // width:$table_width+100px;
    width: 100%;
    .mat-row{
        .mat-cell{
            word-break:break-all;
            word-wrap: normal;
        }
    }
}



.export-ico{
    cursor: pointer;
    color: #292b2c;
    position: absolute;
    right: 20px;
}
