<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
        <div class="row">
            <div class="col-lg-2 col-md-4 col-xs-12">
                <form role="form" onsubmit="return false">
                    <fieldset class="form-group">
                        <label>Customer Id:</label>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <form role="form" onsubmit="return false">
                    <div class="form-group input-group">
                        <input #inputCustomer type="text" class="form-control" (keyup.enter)="onSubmitCustomerId(inputCustomer.value)" 
                        [value]="inVal" placeholder="Enter Customer ID">
                        <span class="input-group-btn">
                            <button (click)="onSubmitCustomerId(inputCustomer.value)" class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-2 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div class="card mb-12">
                    <ng-template [ngIf]="boolShow">
                        <div class="card-header">
                                Customer {{titleName}}  : {{customerObj?customerObj.Name:""}}
                        </div>

                        <div class="card-block">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </ng-template>
                    
                </div>
            </div>
            
        </div>
       
    </div>


    <!-- <div> -->
            <!-- <div class="row">
            <div class="col col-sm-6"> -->
            <!-- <div class="overlay" [hidden]="!visiblePopup">
                <div class="overlay-body">
                    <i class="material-icons close" (click)="triggerPopup(false)">close</i>
                    <h2 class="heading">Merchants</h2>
                    
                    <div class="flex-container">
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                            <label>12312</label>
                            <span>asdfhjkasfdh</span>
                        </div>
                        <div class="flex-box">
                                <label>12312</label>
                                <span>asdfhjkasfdh</span>
                            </div>
                            <div class="flex-box">
                                <label>12312</label>
                                <span>asdfhjkasfdh</span>
                            </div>
                            <div class="flex-box">
                                <label>12312</label>
                                <span>asdfhjkasfdh</span>
                            </div>
                            <div class="flex-box">
                                <label>12312</label>
                                <span>asdfhjkasfdh</span>
                            </div>
                            <div class="flex-box">
                                    <label>12312</label>
                                    <span>asdfhjkasfdh</span>
                                </div>
                                <div class="flex-box">
                                    <label>12312</label>
                                    <span>asdfhjkasfdh</span>
                                </div>
                                <div class="flex-box">
                                    <label>12312</label>
                                    <span>asdfhjkasfdh</span>
                                </div>
                                <div class="flex-box">
                                        <label>12312</label>
                                        <span>asdfhjkasfdh</span>
                                    </div>
                                    <div class="flex-box">
                                        <label>12312</label>
                                        <span>asdfhjkasfdh</span>
                                    </div>
                                    <div class="flex-box">
                                        <label>12312</label>
                                        <span>asdfhjkasfdh</span>
                                    </div>
                                    <div class="flex-box">
                                        <label>12312</label>
                                        <span>asdfhjkasfdh</span>
                                    </div>
                                    <div class="flex-box">
                                            <label>12312</label>
                                            <span>asdfhjkasfdh</span>
                                        </div>
                                        <div class="flex-box">
                                            <label>12312</label>
                                            <span>asdfhjkasfdh</span>
                                        </div>
                                        <div class="flex-box">
                                            <label>12312</label>
                                            <span>asdfhjkasfdh</span>
                                        </div>
                                        <div class="flex-box">
                                                <label>12312</label>
                                                <span>asdfhjkasfdh</span>
                                            </div>
                                            <div class="flex-box">
                                                <label>12312</label>
                                                <span>asdfhjkasfdh</span>
                                            </div>
                                            <div class="flex-box">
                                                <label>12312</label>
                                                <span>asdfhjkasfdh</span>
                                            </div>
                                            <div class="flex-box">
                                                <label>12312</label>
                                                <span>asdfhjkasfdh</span>
                                            </div>
                                            <div class="flex-box">
                                                    <label>12312</label>
                                                    <span>asdfhjkasfdh</span>
                                                </div>
                                                <div class="flex-box">
                                                    <label>12312</label>
                                                    <span>asdfhjkasfdh</span>
                                                </div>
                                                <div class="flex-box">
                                                    <label>12312</label>
                                                    <span>asdfhjkasfdh</span>
                                                </div>
                                                <div class="flex-box">
                                                        <label>12312</label>
                                                        <span>asdfhjkasfdh</span>
                                                    </div>
                                                    <div class="flex-box">
                                                        <label>12312</label>
                                                        <span>asdfhjjkjhk kjhkh khkhk h kjhjkh jkhhkkasfdh</span>
                                                    </div>
                                                    <div class="flex-box">
                                                        <label>12312</label>
                                                        <span>asdfhjkasfdh</span>
                                                    </div>
                                                    <div class="flex-box">
                                                        <label>12312</label>
                                                        <span>asdfhjkasfdh</span>
                                                    </div>
                                                    <div class="flex-box">
                                                            <label>12312</label>
                                                            <span>asdfhjkasfdh</span>
                                                        </div>
                                                        <div class="flex-box">
                                                            <label>12312</label>
                                                            <span>asdfhjkasfdh</span>
                                                        </div>
                                                        <div class="flex-box">
                                                            <label>12312</label>
                                                            <span>asdfhjkasfdh</span>
                                                        </div>
                                                        <div class="flex-box">
                                                                <label>12312</label>
                                                                <span>asdfhjkasfdh</span>
                                                            </div>
                                                            <div class="flex-box">
                                                                <label>12312</label>
                                                                <span>asdfhjkasfdh</span>
                                                            </div>
                                                            <div class="flex-box">
                                                                <label>12312</label>
                                                                <span>asdfhjkasfdh</span>
                                                            </div>
                                                            <div class="flex-box">
                                                                <label>12312</label>
                                                                <span>asdfhjkasfdh</span>
                                                            </div>
                                                            <div class="flex-box">
                                                                    <label>12312</label>
                                                                    <span>asdfhjkasfdh</span>
                                                                </div>
                                                                <div class="flex-box">
                                                                    <label>12312</label>
                                                                    <span>asdfhjkasfdh</span>
                                                                </div>
                                                                <div class="flex-box">
                                                                    <label>12312</label>
                                                                    <span>asdfhjkasfdh</span>
                                                                </div>
                                                                <div class="flex-box">
                                                                        <label>12312</label>
                                                                        <span>asdfhjkasfdh</span>
                                                                    </div>
                                                                    <div class="flex-box">
                                                                        <label>12312</label>
                                                                        <span>asdfhjkasfdh</span>
                                                                    </div>
                                                                    <div class="flex-box">
                                                                        <label>12312</label>
                                                                        <span>asdfhjkasfdh</span>
                                                                    </div>
                                                                    <div class="flex-box">
                                                                        <label>12312</label>
                                                                        <span>asdfhjkasfdh</span>
                                                                    </div>
                                                                    <div class="flex-box">
                                                                            <label>12312</label>
                                                                            <span>asdfhjkasfdh</span>
                                                                        </div>
                                                                        <div class="flex-box">
                                                                            <label>12312</label>
                                                                            <span>asdfhjkasfdh</span>
                                                                        </div>
                                                                        <div class="flex-box">
                                                                            <label>12312</label>
                                                                            <span>asdfhjkasfdh</span>
                                                                        </div>
                                                                        <div class="flex-box">
                                                                                <label>12312</label>
                                                                                <span>asdfhjkasfdh</span>
                                                                            </div>
                                                                            <div class="flex-box">
                                                                                <label>12312</label>
                                                                                <span>asdfhjjkjhk kjhkh khkhk h kjhjkh jkhhkkasfdh</span>
                                                                            </div>
                                                                            <div class="flex-box">
                                                                                <label>12312</label>
                                                                                <span>asdfhjkasfdh</span>
                                                                            </div>
                                                                            <div class="flex-box">
                                                                                <label>12312</label>
                                                                                <span>asdfhjkasfdh</span>
                                                                            </div>
                                                                            <div class="flex-box">
                                                                                    <label>12312</label>
                                                                                    <span>asdfhjkasfdh</span>
                                                                                </div>
                                                                                <div class="flex-box">
                                                                                    <label>12312</label>
                                                                                    <span>asdfhjkasfdh</span>
                                                                                </div>
                                                                                <div class="flex-box">
                                                                                    <label>12312</label>
                                                                                    <span>asdfhjkasfdh</span>
                                                                                </div>
                                                                                <div class="flex-box">
                                                                                        <label>12312</label>
                                                                                        <span>asdfhjkasfdh</span>
                                                                                    </div>
                                                                                    <div class="flex-box">
                                                                                        <label>12312</label>
                                                                                        <span>asdfhjkasfdh</span>
                                                                                    </div>
                                                                                    <div class="flex-box">
                                                                                        <label>12312</label>
                                                                                        <span>asdfhjkasfdh</span>
                                                                                    </div>
                                                                                    <div class="flex-box">
                                                                                        <label>12312</label>
                                                                                        <span>asdfhjkasfdh</span>
                                                                                    </div>
                                                                                    <div class="flex-box">
                                                                                            <label>12312</label>
                                                                                            <span>asdfhjkasfdh</span>
                                                                                        </div>
                                                                                        <div class="flex-box">
                                                                                            <label>12312</label>
                                                                                            <span>asdfhjkasfdh</span>
                                                                                        </div>
                                                                                        <div class="flex-box">
                                                                                            <label>12312</label>
                                                                                            <span>asdfhjkasfdh</span>
                                                                                        </div>
                                                                                        <div class="flex-box">
                                                                                                <label>12312</label>
                                                                                                <span>asdfhjkasfdh</span>
                                                                                            </div>
                                                                                            <div class="flex-box">
                                                                                                <label>12312</label>
                                                                                                <span>asdfhjkasfdh</span>
                                                                                            </div>
                                                                                            <div class="flex-box">
                                                                                                <label>12312</label>
                                                                                                <span>asdfhjkasfdh</span>
                                                                                            </div>
                                                                                            <div class="flex-box">
                                                                                                <label>12312</label>
                                                                                                <span>asdfhjkasfdh</span>
                                                                                            </div>
                                                                                            <div class="flex-box">
                                                                                                    <label>12312</label>
                                                                                                    <span>asdfhjkasfdh</span>
                                                                                                </div>
                                                                                                <div class="flex-box">
                                                                                                    <label>12312</label>
                                                                                                    <span>asdfhjkasfdh</span>
                                                                                                </div>
                                                                                                <div class="flex-box">
                                                                                                    <label>12312</label>
                                                                                                    <span>asdfhjkasfdh</span>
                                                                                                </div>
                                                                                                <div class="flex-box">
                                                                                                        <label>12312</label>
                                                                                                        <span>asdfhjkasfdh</span>
                                                                                                    </div>
                                                                                                    <div class="flex-box">
                                                                                                        <label>12312</label>
                                                                                                        <span>asdfhjjkjhk kjhkh khkhk h kjhjkh jkhhkkasfdh</span>
                                                                                                    </div>
                                                                                                    <div class="flex-box">
                                                                                                        <label>12312</label>
                                                                                                        <span>asdfhjkasfdh</span>
                                                                                                    </div>
                                                                                                    <div class="flex-box">
                                                                                                        <label>12312</label>
                                                                                                        <span>asdfhjkasfdh</span>
                                                                                                    </div>
                    </div>
                </div>
    
                <div class='shim'></div>
            </div> -->

<!-- </div> -->